.article-detail-wrap {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  padding: 0 var(--padding-xs);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.article-detail-item {
  width: 100%;
  margin-top: var(--margin-xs);
}

.item-title {
  font-size: var(--font-size-lg);
  font-weight: bold;
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;
}

.item-value {
  font-size: var(--font-size-md);
  text-align: left;
}
