.layout-login-panel {
  width: 100%;
  height: 484px;
  box-sizing: border-box;
  padding-top: var(--padding-xs);
  padding-left: var(--padding-xs);
  padding-right: var(--padding-xs);
}

.layout-login-header {
  width: 100%;
}

.layout-login-title {
  width: 100%;
}

.layout-login-icon {
  margin-right: var(--margin-xs);
  width: var(--font-size-lg);
  height: var(--font-size-lg);
  border-radius: 50%;
  background-color: var(--color-primary);
  font-size: var(--font-size-lg);
  color: var(--color-white);
}

.layout-login-title-text {
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-1);
}

.layout-login-content {
  margin-top: var(--margin-md);
  width: 100%;
}

.layout-login-content-text {
  font-size: var(--font-size-lg);
  color: var(--color-gray-1);
}

.layout-login-footer {
  width: 100%;
}

.layout-login-btn {
}

.layout-login-cancel {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
}

.layout-login-cancel-text {
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-primary);
}
