/* 改变主题变量，具体变量名可查看 taro-ui/dist/style/variables/default.scss 文件 */
$color-brand: var(--color-primary);
$color-brand-light: var(--color-primary);
$color-brand-dark: var(--color-primary);

// 改变taro-ui的默认样式
@import 'taro-ui/dist/style/index.scss';

// 重写日历样式
.flex__item--selected {
	background-color: $color-brand !important;
}

// 重写浮动弹层样式
.at-float-layout__container {
	overflow: hidden;
	border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
}
