.editorconfig
.eslintignore
.eslintrc.js
.prettierrc
tree.md
mock.md
project.config.json


#忽略上传的文件夹
**/.vscode/**
**/.idea/**
**/build/**
**/lib/**
**/dist/**
**/static/**
**/node_modules/**
**/false/**
**/src/utils/test/**

#忽略上传的文件
**/yarn.lock
**/.DS_Store
**/npm-debug.log
**/yarn-error.log
**/custom.json
**/uploadinfo.json

#IDE
**/*.iml
package-lock.json