.panel-bottom-wrap {
	position: relative;
	flex-grow: 0;
	flex-shrink: 0;

	.panel-box {
		box-sizing: border-box;
		padding: var(--border-bold-space, 32px);
	}

	.fixed-panel {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
