.button-icon-wrap {
  overflow: visible;
  position: relative;
  border: none;
  box-sizing: border-box;
  // display: block;
  padding: 0;

  .at-button__wxbutton::after {
    border: none;
  }

  .rippling-circle {
    box-sizing: border-box;
    position: absolute;
    &:nth-child(2) {
      border-width: 2px;
      animation: rippling 1s linear infinite;
      -webkit-animation: rippling2 1s linear infinite;
    }
  }

  @keyframes rippling {
    0%,
    100% {
      transform: scale(1);
      opacity: 1;
    }
    25%,
    75% {
      transform: scale(1.1);
      opacity: 0.5;
    }
    50% {
      transform: scale(1.1);
      opacity: 1;
    }
  }

  @keyframes rippling2 {
    0%,
    100% {
      transform: scale(1);
      opacity: 0;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.5;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }

  .rippling-content {
    animation: contentRippling 1s linear infinite;
    -webkit-animation: contentRippling 1s linear infinite;
  }
  @keyframes contentRippling {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
  }

  .button-content {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    .button-content-bg {
      width: 100%;
      height: 100%;
      color: var(--color-white, #ffffff);
      font-size: var(--font-size-icon);
      background-color: var(--color-shadow);
    }

    .button-real {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .button-iconfont-content {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      color: var(--color-white, #ffffff);
      font-size: 100px;
      font-weight: bold;
    }

    .button-iconimg-content {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
    }
  }
}
