.base-wrap {
	.base-item {
		padding: var(--border-thin-space, 16px) var(--border-bold-space, 32px);
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
	}
}
