.panel-share-content {
  position: relative;
  width: 600px;
  height: 1000px;
}

.panel-share-simple-wrap {
  box-sizing: border-box;
  margin-bottom: var(--margin-md);
  padding: var(--padding-lg);
  background-color: var(--color-white);
}

.panel-share-img {
  width: 100%;
}

.panel-share-simple-footer {
  margin-top: var(--padding-sm);
  width: 100%;
}

.panel-share-simple-footer-left {
  flex: 1;
}

.panel-share-simple-footer-left-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.panel-share-simple-footer-left-text {
  margin-top: var(--padding-base);
  font-size: 28px;
  color: "#0e0e0e";
}

.panel-share-simple-footer-right {
  width: 200px;
  height: 200px;
}

.panel-share-button-refresh {
}

.panel-share-text {
  margin-top: var(--margin-sm);
  width: 100%;
  color: var(--color-gray-7);
  font-size: var(--font-size-sm);
  text-align: center;
}

.panel-share-footer {
  margin-top: var(--margin-sm);
  width: 100%;
}

.share-button {
}

.share-button-text {
  margin-top: var(--margin-xs);
  color: var(--color-gray-7);
  font-size: var(--font-size-lg);
  text-align: center;
}
