.panel-share-content {
  position: relative;
  width: 600px;
  height: 1000px;
}

.panel-share-img {
}

.panel-share-button-refresh {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.panel-share-text {
  margin-top: var(--margin-sm);
  width: 100%;
  color: var(--color-gray-7);
  font-size: var(--font-size-sm);
  text-align: center;
}

.panel-share-footer {
  margin-top: var(--margin-sm);
  width: 100%;
}

.share-button {
}

.share-button-text {
  margin-top: var(--margin-xs);
  color: var(--color-gray-7);
  font-size: var(--font-size-lg);
  text-align: center;
}
