.module-card-wrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: var(--padding-sm);
  overflow: hidden;
  width: 100%;
  border-radius: var(--border-radius-lg);
  box-shadow: 0 4px 10px 0px var(--color-gray-5);
  background-color: var(--color-white);
}

.module-card-title {
  margin-bottom: var(--margin-base);
  position: relative;
  width: 100%;
  height: 40px;
}

.module-card-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(-1 * var(--padding-sm));
  width: 40px;
  height: 40px;
  background-image: linear-gradient(
    90deg,
    var(--color-primary),
    1%,
    var(--color-white)
  );
}

.module-card-title::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(-1 * var(--padding-sm));
  width: 8px;
  height: 40px;
  background-color: var(--color-primary);
  border-radius: 0 var(--border-radius-md) var(--border-radius-md) 0;
}

.module-card-title-text {
  z-index: 1;
  flex: 0 0 auto;
  font-size: 30px;
  font-weight: 500;
  color: #131313;
}

.module-card-title-extend {
  flex: 1 1 auto;
}

.module-card-title-fold {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  background-color: #8aa2c8;
  border-radius: 50%;
  transform: rotate(135deg);
  transition: all 0.3s;
}

.module-card-content {
  // margin-bottom: 30px;
  width: 100%;
}

.down-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2px;
  margin-left: -2px;
  width: 8px;
  height: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff #fff transparent transparent;
}

.rotate-90 {
  transform: rotate(45deg);
}
